<mat-grid-list cols="3" rowHeight="25vh" class="background-main">
    <mat-grid-tile [colspan]="1" [rowspan]="4">
        <div>
            <!--img src="../assets/img/backgroundMain.jpg"--> 
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4" class="txt-intro">
        <div class="div-intro">
            <span class="intro-title">DevSpace</span>
            <span class="intro-sub-title">Somos un team de desarrolladores mexicanos, 
                nos apasiona programar creando ideas fantásticas, podemos diseñar 
                y crear todas las ideas y negocios que tengas en mente</span>   
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="25vh">
        <mat-grid-tile [colspan]="2" [rowspan]="4" class="backg-white">
            <div>
                <img class="image-carrucel" src="https://cdn.dribbble.com/users/4156307/screenshots/7820222/media/e20e3f3c9261f97625b91ae7ab2062c4.jpg"/>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4"  class="backg-purple txt-web-desig">
            <div>
                <span id="lblNameWebDesign" class="title-web">Beravi</span> 
                <span id="lblDescWebDesign" class="desc-web">Alta dirección empresarial BERAVI, 
                    dedicada a solucionar sus problemas con la ley, el Bernardo esta bien wiwis</span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
<!--<mat-grid-list cols="4" rowHeight="25vh" class="backg-white">
    <mat-grid-tile [colspan]="2" [rowspan]="4" class="backg-white">
        <div>
            <img src="../assets/img/Cohete.png"/>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4" class="backg-white">
            <div class="backg-blueSky">
                ¡Contactanos!
            </div>
        </mat-grid-tile>
</mat-grid-list>-->