/* You can add global styles to this file, and also import other style files */
.toolbar{
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #ac8daf;
    color: white;
    font-weight: 600;
}

.background{
    background-color: #AC8DAF;
}


/*
#F1D4D4 - CORAL
#DDB6C6 - LILA
#AC8DAF - MORADO
#484C7F - AZUL MARINO
*/
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
